.cart-page{
    margin-top: 40px;
    margin-bottom: 60px;
}
.cart-page h1{
    text-align: center;
}
.details{
    border: 1px solid #ddd;
}
.details img{
    height: 100px;
}
.details ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.remove-button{
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin: auto;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
}


.summary{
    margin-top: 20px;
    margin-bottom: 20px;
}
.summary h3{
    text-align: center;
}
.summary ul{
    list-style-type: none;
    padding: 5px;
    border: 1px solid #ddd;
}
.summary ul li{
    display: flex;
    justify-content: space-between;
}

 .form-button {
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin: auto;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
}

button:hover {
  background-color: #0056b3;
  color: white;
}
  

 
  
 
  
  
  