<div class="row product-details align-items-center" *ngIf=" productsData ">
    <div class="col-sm-6" >
       
        <img class="product-image img-fluid" src="{{productsData.image}}" alt="Products Image">

    </div>
    <div class="col-sm-6 " >
        <div class="details">
       
        <h1>{{productsData.name}}</h1>
        <h3>{{productsData.price}}</h3>
        <div>
        <h5 [style.backgroundColor]="productsData.color" class="product-color" ></h5><p>{{productsData.color}}</p>
        </div>
        <h6>Category:{{productsData.category}}</h6>
        <h6>Description:{{productsData.description}}</h6>
        
        <button class="form-button">Buy Now</button>
        <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to cart</button>
        <button *ngIf="removeCart" class="form-button" (click)="removeToCart(productsData.id)">Remove to cart</button>
          

        <div class="quantity-group">
            <button (click)="handelQuantity('min')">-</button>
            <input type="text" value="{{productQuantity}}">
            <button (click)="handelQuantity('max')">+</button>
        </div>

        
        </div>
        
    </div>

</div>