<div class="add-product">
    <h1>UPDATE PRODUCT </h1>
    <p class="message-p">{{productMessage}}</p>

    <form #updateProduct="ngForm" (ngSubmit)="submitupdateProduct(updateProduct.value)">
         <div class="form-group">
    <label for="name"></label>
    <input type="text"  name="name" placeholder="Enter Product name" ngModel="{{productData?.name}}">
  </div>
   <div class="form-group">
    <label for="name"></label>
    <input type="text"  name="price" placeholder="Enter Product Price" ngModel="{{productData?.price}}">
  </div>
   <div class="form-group">
    <label for="name"></label>
    <input type="text"  name="color" placeholder="Enter Product Color" ngModel="{{productData?.color}}">
  </div>
  
   <div class="form-group">
    <label for="name"></label>
    <input type="text"  name="category" placeholder="Enter Product Category" ngModel="{{productData?.category}}">
  </div>
  
   <div class="form-group">
    <label for="name"></label>
    <input type="text"  name="image" placeholder="Enter Product Image URL" ngModel="{{productData?.image}}">
  </div>
  <div class="form-group">
    <label for="name"></label>
    <textarea type="text"  name="description" placeholder="Enter Product description" ngModel="{{productData?.description}}"></textarea>
  </div>

    <button class="form-button" type="submit">Update Product</button>


    </form>

</div>